.nav-2{
  width: 100%;
  height:39px ;
  background-color:#232F3E ;
  display: flex;
  justify-content: space-between;
}
.nav-2 .rightNav{
transform: translateX(10px);
/* border: 1px solid red; */
width: 40vw;
}
.nav-2 div{
  display: flex;
  color:white ;
  padding: 3.2px 6px;
  font-size: 14px;
}
.menu{
  background: url("/assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")no-repeat 51.807% 58.486%;
  width: 18px;
	height: 15px;
  transform: translateX(-2.5px);
}
.nav-2 .hov{
  cursor: pointer;
  border: 1px solid rgba(255, 0, 0, 0);
  padding-bottom: 3px;
}
.nav-2 .hov:hover{
  border-color: #ffffff;
  border-radius: 2px;
}
.leftNav{
  color: black;
  width: 10%;
}

.blackFriday-container{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;

}


